@using _ExcellOn_.Models
@using _ExcellOn_.Areas.Admin.Model
@{
    Entities db = new Entities();
}

<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <i class="fa fa-headphones mr-1"
                       aria-hidden="true"></i>Excell On
                </a>
            </h1>
            <!-- if logo is image enable this
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item active">
                        <a class="btn nav-link" href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn nav-link" href="@Url.Action("Index","About")">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn nav-link" href="@Url.Action("service","Services")">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn nav-link" href="@Url.Action("Index","Contact")">Contact Us</a>
                    </li>

                    @{
                        var cus = (Customer)Session["CustomerName"];
                        Customer _cus = null;
                        if (cus != null)
                        {
                            _cus = db.Customers.Where(x => x.Id == cus.Id).FirstOrDefault();
                        }
                        if (_cus == null)
                        {
                            <li class="nav-item">
                                <a class="btn nav-link" href="@Url.Action("Login", "Customer")">Log In</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="media align-items-center" style="margin-top: -7px; ">
                                        <span class="avatar avatar-sm rounded-circle">
                                            <img alt="Image placeholder" src="@_cus.Customer_Avatar">
                                        </span>
                                        <div class="media-body  ml-2  d-none d-lg-block">
                                            <span class="mb-0 text-sm  font-weight-bold">@_cus.Customer_Name</span>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right ">
                                    <div class="dropdown-header noti-title">
                                        <h6 class="text-overflow m-0">Welcome!</h6>
                                    </div>
                                    <a class="dropdown-item" href="@Url.Action("MyProfileCustomer","Customer2")">
                                        <i class="ni ni-single-02"></i>
                                        <span>My profile</span>
                                    </a>
                                    <a class="dropdown-item" href="@Url.Action("OrderListIndex","Customer2")">
                                        <i class="ni ni-shop"></i>
                                        <span>My Order</span>
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <a onclick="return _Logout()" class="dropdown-item">
                                        <i class="ni ni-user-run"></i>
                                        <span>Logout</span>
                                    </a>
                                </div>
                            </li>
                        }
                    }
                    <li class="nav-item active open-modal" data-open="modal1">
                        <button type="button" class="btn nav-link" data-toggle="modal" data-target=".bd-example-modal-lg">
                            Search
                            <i style="font-size: 14px" class="fa fa-search" aria-hidden="true"></i>
                        </button>
                            
                    </li>

                    <!-- //search button -->
                </ul>
                
            </div>

        </nav>
    </div>
</header>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content" style="box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">YOU CAN SEARCH FOR ALL SERVICE</h2>
                <button type="button" class="close fa fa-close" style="color:white" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <form method="post" action="/Searches/Search" style="padding: 20px">
                <div class="row">
                    <div class="col-md-4">
                        <label>Date Start</label>
                        <input class="form-control" name="Date_Start" value="@Request["Date_Start"]" type="date" placeholder="Date-Start" />
                    </div>
                    <div class="col-md-4">
                        <label>Date End</label>
                        <input class="form-control" name="Date_End" value="@Request["Date_End"]" type="date" placeholder="Date-End" />
                    </div>
                    <div class="col-md-4">
                        <label>Service</label>
                        <select name="List_Service_Id[]" multiple class="form-control select">
                            <option value="1">In Bound</option>
                            <option value="2">Out Bound</option>
                            <option value="3">Tele Marketing</option>
                        </select>
                    </div>
                </div>
                @*<button class="btn btn-primary" type="submit" style="margin-top: 23px;float: right"> Search </button>*@
            </form>
        </div>
    </div>
</div>



