
<!-- about -->
@Html.Action("HomeAbout","About")
<!-- //about -->
<!-- services section -->
@Html.Action("company", "Services")
<!-- //services section -->
<!-- stats -->
@*<section class="w3_stats py-5" id="stats">
    <div class="container py-md-5 py-4">
        <div class="w3-stats text-center py-md-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center mb-sm-5 mb-4">
                        <h3 class="title-style text-white mb-2">Our Amazing Statistics</h3>
                        <p class="lead text-white">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque,
                            eaque ipsa quae ab illo inventore.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-3 col-6">
                    <div class="counter">
                        <span class="fa fa-users"></span>
                        <div class="timer count-title count-number mt-3" data-to="1286" data-speed="1500"></div>
                        <p class="count-text">Employees</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="counter">
                        <span class="fa fa-smile-o"></span>
                        <div class="timer count-title count-number mt-3" data-to="36076" data-speed="1500"></div>
                        <p class="count-text">Statisfication</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter">
                        <span class="fa fa-phone"></span>
                        <div class="timer count-title count-number mt-3" data-to="16300" data-speed="1500"></div>
                        <p class="count-text">Calls Per Day</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter">
                        <span class="fa fa-trophy"></span>
                        <div class="timer count-title count-number mt-3" data-to="10630" data-speed="1500"></div>
                        <p class="count-text">Win awards</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
@Html.Action("InfoNumber", "Home")
<!-- //stats -->
<!-- customers section -->
@Html.Action("feedback", "Services")
@*//customers section
    blog section *@
@*<div class="w3l-grids-block-5 py-5">
        <div class="container py-md-5 py-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center mb-sm-5 mb-4">
                        <h3 class="title-style mb-2">Our Latest Blog</h3>
                        <p class="lead">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque,
                            eaque ipsa quae ab illo inventore.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="blog-card-single">
                        <div class="grids5-info">
                            <a href="#blog"><img src="~/Content/Manh/assets/images/blog1.jpg" alt="" /></a>
                            <div class="blog-info">
                                <h5>November 3, 2020 - <a href="blog-single">New</a></h5>
                                <h4><a href="#blog">Donec sed teus enime</a></h4>
                                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <ul class="admin-list d-flex align-items-center justify-content-between">
                                <li>
                                    <a href="#blog">
                                        <span class="fa fa-user-circle"
                                              aria-hidden="true"></span>
                                        Admin
                                    </a>
                                </li>
                                <li>
                                    <a href="#blog">
                                        <span class="fa fa-comments" aria-hidden="true"></span>7
                                        Comments
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-sm-0 mt-4">
                    <div class="blog-card-single">
                        <div class="grids5-info">
                            <a href="#blog"><img src="~/Content/Manh/assets/images/blog3.jpg" alt="" /></a>
                            <div class="blog-info">
                                <h5>November 6, 2020 - <a href="blog-single">New</a></h5>
                                <h4><a href="#blog">It's enim ad minim aute</a></h4>
                                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <ul class="admin-list d-flex align-items-center justify-content-between">
                                <li>
                                    <a href="#blog">
                                        <span class="fa fa-user-circle"
                                              aria-hidden="true"></span>
                                        Admin
                                    </a>
                                </li>
                                <li>
                                    <a href="#blog">
                                        <span class="fa fa-comments" aria-hidden="true"></span>3
                                        Comments
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-lg-0 mt-4">
                    <div class="blog-card-single">
                        <div class="grids5-info">
                            <a href="#blog"><img src="~/Content/Manh/assets/images/blog2.jpg" alt="" /></a>
                            <div class="blog-info">
                                <h5>November 7, 2020 - <a href="blog-single">New</a></h5>
                                <h4><a href="#blog">Ullamco laboris nisi uts</a></h4>
                                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <ul class="admin-list d-flex align-items-center justify-content-between">
                                <li>
                                    <a href="#blog">
                                        <span class="fa fa-user-circle"
                                              aria-hidden="true"></span>
                                        Admin
                                    </a>
                                </li>
                                <li>
                                    <a href="#blog">
                                        <span class="fa fa-comments" aria-hidden="true"></span>5
                                        Comments
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- //blog section -->
<!-- call section -->
<section class="w3l-call-to-action-6">
    <div class="call-sec-style py-5">
        <div class="container py-md-4 py-3">
            <div class="row align-items-center">
                <div class="col-md-5 col-float-lt">
                    <h3 class="title-big">Contact us now!</h3>
                    <p>For Online queries, please call us today</p>
                </div>
                <div class="col-md-7 float-rt text-md-right align-items-center mt-md-0 mt-4">
                    <ul class="buttons">
                        <li class="phone-sec">
                            <span class="fa fa-volume-control-phone mr-1"
                                  aria-hidden="true"></span>
                            <a class="call-style-w3" href="tel:+1(23) 456 789 0000">+84904926015</a>
                        </li>
                        <li class="green">Or</li>
                        <li>
                            <a href="@Url.Action("Index","Contact")" class="btn btn-style-white btn-style-primary" style="background-color:red;color:white">Get in touch</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //call section -->
