@using _ExcellOn_.Models
@model List<_ExcellOn_.Models.Order>
@{
    ViewBag.Title = "OrderListIndex";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section css{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Areas/Admin/Public/css/vieworder.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link href="~/Areas/Admin/Public/DataTable/pagination.css" rel="stylesheet" />
}

<div class="inner-banner">
    <section class="w3l-breadcrumb">
        <div class="container">
            <h4 class="inner-text-title font-weight-bold text-white mb-sm-3 mb-2">My Order</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="/">Home</a></li>
                <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> My Order</li>
            </ul>
        </div>
    </section>
</div>


<div class="container-xl" style="margin-top: 80px;margin-bottom: 80px">
    <div class="card">
        <div class="card-header bg-primary pt-2 pb-2">
            <div class="row">
                <div class="col-md-3">
                    <h1 style="color:white;margin-bottom:0px">
                        Order List
                    </h1>
                </div>
                <div class="col-md-9">
                    <a href="/Customer2/OrderListIndex" style="float: right" class="btn btn-primary">
                        <span>
                            <i class="fa fa-spin" style="margin-right: 10px">&#xE863;</i>
                            <span> Refresh </span>
                        </span>
                    </a>
                </div>
            </div>
            
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="table_OrderList" class="table table-striped table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th style="font-size: 0.875rem">Order Code</th>
                                <th style="font-size: 0.875rem">Date Create</th>
                                <th style="font-size: 0.875rem">Description</th>
                                <th style="font-size: 0.875rem">Total Cost</th>
                                <th style="font-size: 0.875rem">Status</th>
                                <th style="font-size: 0.875rem">Detail</th>
                        </thead>

                        <tbody class="list">
                            @foreach (var item in Model)
                            {
                                <tr style="height: 60px">
                                    <td>@item.Id</td>
                                    <td>@item.Order_DateCreate</td>
                                    <td>@item.Order_Description</td>
                                    <td>$ @item.Order_TotalCost</td>
                                    <td style="font-size: 0.8125rem">
                                        @*<span class="status text-success">&bull;</span>@item.OrderDetail_Status*@
                                        @if (item.Order_Status == 0)
                                        {
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-primary"></i>
                                                <span style="font-size: 14px"> Pending </span>
                                            </span>
                                        }
                                        else if (item.Order_Status == 1)
                                        {
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-warning"></i>
                                                <span style="font-size: 14px"> Started </span>
                                            </span>
                                        }
                                        else if (item.Order_Status == 2)
                                        {
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-success"></i>
                                                <span style="font-size: 14px"> Completed </span>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-dark"></i>
                                                <span style="font-size: 14px"> Deleted </span>
                                            </span>
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("OrderDetailIndex","Customer2", new { id = item.Id })" class="view" title="View Details" data-toggle="tooltip">
                                            <i class="material-icons">&#xE5C8;</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    
</div>

@section js{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_OrderList').DataTable({
                "lengthMenu": [10, 15, 20, 30],
                "pagingType": "full_numbers",
                language: {
                    paginate: {
                        next: '<i class="fa fa-fw fa-long-arrow-right">',
                        previous: '<i class="fa fa-fw fa-long-arrow-left">'
                    }
                },
                order: [[0, 'desc']]

            });
        });
        /*< !--Hiển thị chữ view detail trên button mũi tên-- >*/
        $('[data-toggle="tooltip"]').tooltip();
    </script>
}


