@{ Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml"; }
@using _ExcellOn_.Models
@{ List<Staff> list_staff = ViewBag.list_staff;
    List<Customer> list_customer = ViewBag.list_customer;
    List<Order> list_order_completed = ViewBag.list_order_completed;
    List<Order> list_order_started = ViewBag.list_order_started;
    List<Order> list_order_pending = ViewBag.list_order_pending;
    List<Staff> list_staff_free = ViewBag.list_staff_free;

    int list_staff_count = list_staff.Count;
    int list_staff_free_count = list_staff_free.Count;
    int list_staff_in_working_count = ViewBag.list_staff_in_working_count;
    int list_customer_count = list_customer.Count;
    int list_order_completed_count = list_order_completed.Count;
    int list_order_started_count = list_order_started.Count;
    int list_order_pending_count = list_order_pending.Count;

    float tunover = 0;
    foreach (var item in list_order_completed)
    {
        tunover += (float)item.Order_TotalCost;
    }
    var _tunover = string.Format("{0:0,0}", tunover);
    float customer_in_order = (float)list_order_completed_count / (float)list_customer_count * 100;
    string _customer_in_order = String.Format("{0:0.00}", customer_in_order); }


<div class="container" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
    <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
                <h6 class="h2 d-inline-block mb-0">Dashboard</h6>
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Management</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
                <a class="btn btn-sm btn-neutral" href="/Admin/AdminHome/DashboardIndex">Reload</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6 _card_" onclick="return _GoToChart_Order_Tunover()" style="cursor:pointer">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body card-box-shadow">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Turnorver</h5>
                                <span class="h2 font-weight-bold mb-0">$ @_tunover</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                    <i class="ni ni-active-40"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                            <span class="text-nowrap">Excell On Company</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 _card_" onclick="return _Cus_In_Order()" style="cursor:pointer">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body card-box-shadow">
                        <div class="row">
                            <div class="col">
                                <a href="/Admin/CustomerManagement/CustomerInOrderIndex"><h5 class="card-title text-uppercase text-muted mb-0">Customer in Order </h5></a>
                                <span class="h4 mb-0">There was @list_customer_count customer have enjoyed our service </span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                    <i class="ni ni-bold-down"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-sm">
                            <span class="text-success mr-2"><i class="fa fa-caret-square-o-up"></i> @_customer_in_order%</span>
                            <span class="text-nowrap">Compare with all customer have visited through website</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 _card_" onclick="return _Order_Pending()" style="cursor:pointer">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body card-box-shadow">
                        <div class="row">
                            <div class="col">
                                <a href="/Admin/OrderManagement/Filter2?OrderStatus=0"><h5 class="card-title text-uppercase text-muted mb-0">Order Pending</h5></a>
                                <span class="h2 font-weight-bold mb-0">@list_order_pending_count</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                    <i class="ni ni-money-coins"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 5.24%</span>
                            <span class="text-nowrap">Excell On Company</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 _card_" onclick="return _Order_Started()" style="cursor: pointer">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body card-box-shadow">
                        <div class="row">
                            <div class="col">
                                <a href="/Admin/OrderManagement/Filter2?OrderStatus=1"><h5 class="card-title text-uppercase text-muted mb-0">Order Started</h5></a>
                                <span class="h2 font-weight-bold mb-0">@list_order_started_count</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                    <i class="ni ni-chart-bar-32"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-sm">
                            <span class="text-success mr-2"><i class="fa fa-caret-square-o-up"></i> @_customer_in_order%</span>
                            <span class="text-nowrap">Customer in Order</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 _card_" style="cursor: pointer" onclick="return _Order_Completed()">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body card-box-shadow">
                        <div class="row">
                            <div class="col">
                                <a href="/Admin/OrderManagement/Filter2?OrderStatus=2"><h5 class="card-title text-uppercase text-muted mb-0">Order Completed</h5></a>
                                <span class="h2 font-weight-bold mb-0">@list_order_completed_count</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                    <i class="ni ni-book-bookmark"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 2.24%</span>
                            <span class="text-nowrap">Excell On Company</span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 _card_" style="cursor: pointer" onclick="return _Staff_In_Working()">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body card-box-shadow">
                        <div class="row">
                            <div class="col">
                                <a href="/Admin/StaffManagement/StaffInWorkingIndex"><h5 class="card-title text-uppercase text-muted mb-0">Staff in working</h5></a>
                                <span class="h2 font-weight-bold mb-0">@list_staff_in_working_count</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                    <i class="ni ni-archive-2"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-right"></i></span>
                            <span class="text-nowrap">Excell On Company</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 _card_" style="cursor: pointer" onclick="return _Staff_Free()">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body card-box-shadow">
                        <div class="row">
                            <div class="col">
                                <a href="/Admin/StaffManagement/StaffFreeIndex"><h5 class="card-title text-uppercase text-muted mb-0">Free Staff</h5></a>
                                <span class="h2 font-weight-bold mb-0">@list_staff_free_count</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                    <i class="ni ni-delivery-fast"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-right"></i></span>
                            <span class="text-nowrap">Excell On Company</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 _card_" style="cursor: pointer" onclick="return _Staff()">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body card-box-shadow">
                        <div class="row">
                            <div class="col">
                                <a href="/Admin/StaffManagement/StaffIndex"><h5 class="card-title text-uppercase text-muted mb-0">Total of Staff</h5></a>
                                <span class="h2 font-weight-bold mb-0">@list_staff_count</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                    <i class="ni ni-chart-pie-35"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-right"></i></span>
                            <span class="text-nowrap">Excell On Company</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 30px;padding-bottom: 40px">
    <div class="row">
        <div class="col-8" style="margin-bottom: 20px">
            <p class="alert alert-default" style="color:white;font-weight: 600; text-align:center">Turnover Chart is grouped by Date Create and calculated by $</p>
        </div>
        <div class="col-4" style="margin-bottom: 20px">
            <p class="alert alert-default" style="color:white;font-weight: 600; text-align:center">Num of OrderDetail Chart for each Service</p>
        </div>
        <div class="col-8" style="margin-bottom: 20px">
            <select class="form-control">
                <option value="15" selected> 15 days ago</option>
                <option value="20"> 20 days ago</option>
                <option value="30"> 30 days ago</option>
            </select>
        </div>
        <div class="col-4" style="margin-bottom: 20px">

        </div>
        <div class="col-12 col-md-8">
            <div class="chart">
                <!-- Chart wrapper -->
                <canvas style="border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.24) 6px 12px 20px;" id="Chart_Order_Tunover"></canvas>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="chart">
                <!-- Chart wrapper -->
                <canvas style="color:white;border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.24) 6px 12px 20px;padding: 15px" id="Chart_Service_OrderDetail" class="chart-canvas"></canvas>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="map col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.096966609172!2d105.78049781476331!3d21.028805785998404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4cd0c66f05%3A0xea31563511af2e54!2zOCBUw7RuIFRo4bqldCBUaHV54bq_dCwgTeG7uSDEkMOsbmgsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1628831070417!5m2!1svi!2s" height="450" style="border:0;width: 100%" allowfullscreen="" loading="lazy;"></iframe>
        </div>
    </div>

</div>


@section css{
    <style>
        canvas {
            height: 100% !important;
            width: 100% !important;
        }

        .card-box-shadow {
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
        }

            .card-box-shadow:hover {
                box-shadow: none;
                background-color: antiquewhite;
            }
    </style>
}
@section js{
    <script type="text/javascript">

        // plugin màu nền cho chart
        const plugin = {
            id: 'custom_canvas_background_color',
            beforeDraw: (chart) => {
                const ctx = chart.canvas.getContext('2d');
                ctx.save();
                ctx.globalCompositeOperation = 'destination-over';
                ctx.fillStyle = '#32325d';
                ctx.fillRect(0, 0, chart.width, chart.height);
                ctx.restore();
            }
        };

        // Khởi tạo các biến toàn cục.
        var tunover = null;
        var Order_DateCreate = null;
        var ctx1 = $('#Chart_Order_Tunover');
        var Chart_Order_Tunover = new Chart(ctx1);

        // Load dữ liệu vào biến toàn cục khi khởi động trang
        $(document).ready(function () {
            $.ajax({
                url: "/Admin/AdminHome/GetJsonOrder?num_of_days_ago=15",
                contentType: "application/json;charset=utf-8",
                type: "GET",
                dataType: "json",
                success: function (result) {
                    tunover = result.map(function (element) {
                        return element.Order_TotalCost;
                    });
                    Order_DateCreate = result.map(function (element) {
                        return element.Order_DateCreate;
                    });
                    Chart_Order_Tunover.destroy();
                    Chart_Order_Tunover = new Chart(ctx1, {
                        type: 'line',
                        data: {
                            labels: Order_DateCreate,
                            datasets: [{
                                label: 'Tunover',
                                data: tunover,
                                borderColor: [
                                    '#e5e5f0'
                                ],
                                borderWidth: 4,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)'
                            }]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    labels: {
                                        color: 'white',
                                        font: {
                                            size: 14
                                        }
                                    }
                                }
                            },
                            layout: {
                                padding: {
                                    left: 20,
                                    right: 60,
                                    top: 20,
                                    bottom: 20
                                }
                            },
                            scales: {
                                x: {
                                    grid: {
                                        display: false
                                    },
                                    ticks: {
                                        color: 'rgba(86, 194, 205, 0.82)',
                                        font: {
                                            size: 13
                                        }
                                    }
                                },
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        color: 'rgba(86, 194, 205, 0.82)',
                                        font: {
                                            size: 14
                                        }
                                    }
                                }
                            }
                        },
                        plugins: [plugin]
                    });
                },
                error: function (erro) {
                    alert(erro);
                }
            });
            $.ajax({
                url: "/Admin/AdminHome/GetJsonOrderDetail",
                contentType: "application/json;charset=utf-8",
                type: "GET",
                dataType: "json",
                success: function (result) {
                    var Service_Name = result.map(function (element) {
                        return element.Service_Name;
                    });
                    var Number_Of_OrderDetail = result.map(function (element) {
                        return element.Number_Of_OrderDetail;
                    });
                    var ctx = $('#Chart_Service_OrderDetail');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: Service_Name,
                            datasets: [{
                                label: 'My First Dataset',
                                data: Number_Of_OrderDetail,
                                backgroundColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(54, 162, 235)',
                                    'rgb(255, 205, 86)'
                                ],
                                hoverOffset: 4
                            }]
                        }
                        //options: {
                        //    scales: {
                        //        y: {
                        //            beginAtZero: true
                        //        }
                        //    }
                        //}
                    });
                },
                error: function (erro) {
                    alert(erro);
                }
            });
        });


        // Thay đổi dữ liệu chart bằng cách xóa chart cũ bằng hàm destroy().
        $('select').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            $.ajax({
                url: "/Admin/AdminHome/GetJsonOrder?num_of_days_ago=" + valueSelected,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var tunover = result.map(function (element) {
                        return element.Order_TotalCost;
                    });

                    var Order_DateCreate = result.map(function (element) {
                        return element.Order_DateCreate;
                    });

                    Chart_Order_Tunover.destroy();
                    Chart_Order_Tunover = new Chart(ctx1, {
                        type: 'line',
                        data: {
                            labels: Order_DateCreate,
                            datasets: [{
                                label: 'Tunover',
                                data: tunover,
                                borderColor: [
                                    '#e5e5f0'
                                ],
                                borderWidth: 4,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)'
                            }]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    labels: {
                                        color: 'white',
                                        font: {
                                            size: 14
                                        }
                                    }
                                }
                            },
                            layout: {
                                padding: {
                                    left: 20,
                                    right: 60,
                                    top: 20,
                                    bottom: 20
                                }
                            },
                            scales: {
                                x: {
                                    grid: {
                                        display: false
                                    },
                                    ticks: {
                                        color: 'rgba(86, 194, 205, 0.82)',
                                        font: {
                                            size: 13
                                        }
                                    }
                                },
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        color: 'rgba(86, 194, 205, 0.82)',
                                        font: {
                                            size: 14
                                        }
                                    }
                                }
                            }
                        },
                        plugins: [plugin]
                    });
                },
                error: function (erro) {
                    alert(erro);
                }
            });
        });

        //function scroll to element (example: to -> Chart_Order_Tunover)
        function _GoToChart_Order_Tunover() {
            $('html, body').animate({
                scrollTop: $("#Chart_Order_Tunover").offset().top
            }, 1000);
        }
    </script>
}