
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Argon Dashboard - Free Dashboard for Bootstrap 4</title>
    <!-- Favicon -->
    <link rel="icon" href="~/Areas/Admin/Public/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="~/Areas/Admin/Public/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="~/Areas/Admin/Public/vendor/fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link href="~/Areas/Admin/Public/css/argon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @RenderSection("css", false)
</head>

<body>
    <!-- Sidenav -->
    @RenderPage("_SidenavLayout.cshtml")
    <!-- Main content -->
    <div class="main-content" id="ducdz">
        @RenderPage("_TopnavLayout.cshtml")
        @RenderBody()
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->


    <script src="~/Areas/Admin/Public/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/Areas/Admin/Public/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/Admin/Public/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/Areas/Admin/Public/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/Areas/Admin/Public/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Optional JS -->
    <script src="~/Areas/Admin/Public/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="~/Areas/Admin/Public/vendor/chart.js/dist/Chart.extension.js"></script>
    <!-- Argon JS -->
    <script src="~/Areas/Admin/Public/js/argon.js?v=1.2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var page = location.pathname.split('/').pop();
            $(".nav-link").each(function () {
                $(this).removeClass("active");
            });
            $('.' + page).addClass("active");
        });
        function _Profile() {
            $(location).attr("href", "/Admin/UserManagement/MyProfile");
        }
        function _Logout() {
            $(location).attr("href", "/Admin/User/Logout");
        }
        function _Dashboard() {
            $(location).attr("href", "/Admin/AdminHome/DashboardIndex");
        }
        function _Customer() {
            $(location).attr("href", "/Admin/CustomerManagement/CustomerIndex");
        }
        function _Company() {
            $(location).attr("href", "/Admin/CompanyManagement/CompanyIndex");
        }
        function _Service() {
            $(location).attr("href", "/Admin/ServiceManagement/ServiceIndex");
        }
        function _Service2() {
            $(location).attr("href", "/Admin/ServiceManagement/ServiceIndex2");
        }
        function _Image() {
            $(location).attr("href", "/Admin/ImageManagement/ImageIndex");
        }
        function _Staff() {
            $(location).attr("href", "/Admin/StaffManagement/StaffIndex");
        }
        function _Authorize() {
            $(location).attr("href", "/Admin/RoleManagement/RoleIndex");
        }
        function _UserManagement() {
            $(location).attr("href", "/Admin/UserManagement/UserIndex");
        }
        function _Register() {
            $(location).attr("href", "/Admin/UserManagement/Add");
        }
        function _Order() {
            $(location).attr("href", "/Admin/OrderManagement/OrderIndex");
        }
        function _HideShowNav() {
            $('.sidenav').toggle("fast", function () {
                if ($('.sidenav').is(":visible") == false) {
                    $('#ducdz').css("margin-left", 0);
                    $('.sidenav-toggler-line').css("background-color", "blue");
                } else {
                    $('#ducdz').css("margin-left", 250);
                    $('.sidenav-toggler-line').css("background-color", "brown");
                }
            });
            
        }
    </script>
    @RenderSection("js", false)
</body>

</html>
