@model List<_ExcellOn_.Models.Service>
@{ Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";}
@{
    int count = Model.Count;
}
<div class="header bg-primary">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Service</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Click in Icon to view</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-sm btn-neutral" href="/Admin/ServiceManagement/ServiceIndex2">Reload</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 30px;padding-bottom: 40px">

    <div class="row">
        <div class="col-xl-12">
            @if (Model != null)
            {

                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <aside class="profile-card">
                                <header>
                                    <!-- here’s the avatar -->
                                    <a href="#" onclick="return _GetOrderDetail(@item.Id)">
                                        <img src="~/Public/Image/ava.gif" />
                                    </a>
                                    <!-- the username -->
                                    <h1>@item.Service_Name</h1>
                                    <!-- and role or location -->
                                    <h2 style="color:white!important">We have @item.OrderDetails.Count OrderDetail</h2>
                                </header>
                                <!-- bit of a bio; who are you? -->
                                <div class="profile-bio">
                                    <p class="description">
                                        Click me to view my Order Detail
                                    </p>
                                </div>
                                <!-- some social links to show off -->
                                <ul class="profile-social-links">
                                    <!-- twitter - el clásico  -->
                                    <li>
                                        <a target="_blank" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <!-- envato – use this one to link to your marketplace profile -->
                                    <li>
                                        <a target="_blank" href="#">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                    <!-- codepen - your codepen profile-->
                                    <li>
                                        <a target="_blank" href="#">
                                            <i class="fa fa-codepen"></i>
                                        </a>
                                    </li>
                                    <!-- add or remove social profiles as you see fit -->
                                </ul>
                            </aside>
                        </div>
                    }
                </div>

                foreach (var item in Model)
                {
                    <div class="row table_row" id="table_row_@item.Id" style="margin-top: 80px;">
                        <div class="table-responsive">
                            <table id="table_Service_@item.Id" class="cell-border text-center align-items-center table-dark table-flush ">
                                <thead class="thead-dark">
                                    <tr>
                                        <th style="font-size: 0.875rem">Code</th>
                                        <th style="font-size: 0.875rem">Date Start</th>
                                        <th style="font-size: 0.875rem">Date End</th>
                                        <th style="font-size: 0.875rem">Status</th>
                                        <th style="font-size: 0.875rem">Number of Staff</th>
                                        <th style="font-size: 0.875rem">Assign</th>
                                    </tr>
                                </thead>
                                <tbody class="list" style="color: white">
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

</div>

@section css{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link href="~/Areas/Admin/Public/DataTable/pagination.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Public/css/loader.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Public/JdLomX/css/style.css" rel="stylesheet" />
    <style>
        td {
            background-color: #172b4d;
        }
    </style>
}
@section js{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    @foreach (var item in Model)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $.ajax({
                    url: "/Admin/ServiceManagement/GetOrderDetail?Service_ID=" + @item.Id,
                    contentType: "application/json;charset=utf-8",
                    type: "GET",
                    dataType: "json",
                    success: function (result) {

                        $('#table_Service_' + @item.Id).DataTable({
                            "lengthMenu": [10, 15, 20, 30],
                            "pagingType": "full_numbers",
                            "scrollY": true,
                            language: {
                                paginate: {
                                    next: '<i class="fa fa-fw fa-long-arrow-right">',
                                    previous: '<i class="fa fa-fw fa-long-arrow-left">'
                                }
                            },
                            data: JSON.parse(result),
                            columns: [
                                { 'data': 'Id' },
                                {
                                    'data': 'OrderDetail_DateStart',
                                    'render': function (OrderDetail_DateStart) {
                                        var pad = function (num) { return ('00' + num).slice(-2) };
                                        var date;
                                        date = new Date(OrderDetail_DateStart);
                                        date = date.getUTCFullYear() + '-' +
                                            pad(date.getUTCMonth() + 1) + '-' +
                                            pad(date.getUTCDate()+1);
                                        return date;
                                    }
                                },
                                {
                                    'data': 'OrderDetail_DateEnd',
                                    'render': function (OrderDetail_DateEnd) {
                                        var pad = function (num) { return ('00' + num).slice(-2) };
                                        var date;
                                        date = new Date(OrderDetail_DateEnd);
                                        date = date.getUTCFullYear() + '-' +
                                            pad(date.getUTCMonth() + 1) + '-' +
                                            pad(date.getUTCDate()+1);
                                        return date;
                                    }
                                },
                                {
                                    'data': 'OrderDetail_Status',
                                    'render': function (OrderDetail_Status) {
                                        if (OrderDetail_Status == 0) {
                                            return '<span class="badge badge-dot mr-4"><i class="bg-warning"></i><span class="status">Pending</span></span>';
                                        } else {
                                            return '<span class="badge badge-dot mr-4"><i class="bg-info"></i><span class="status">Working</span></span>';
                                        }

                                    }
                                },
                                { 'data': 'OrderDetail_NumberOfPeople' },
                                {
                                    'render': function () {
                                        return '<a class="btn" href="#" style="background-color: #e6eef1;font-size: 12px"> Assign </a>';
                                    }
                                },
                            ]

                        });
                        $('.table_row').hide();
                    },
                    error: function (erro) {
                    }
                });
            });
        </script>
    }

    <script type="text/javascript">
        function _GetOrderDetail(Service_ID) {
            $('.table_row').each(function () {
                $(this).hide();
            });
            $('#table_row_' + Service_ID).show();
        };
    </script>

}