


@using _ExcellOn_.Models
@model IEnumerable<Service>
@{
    ViewBag.Title = "service";
    Layout = "~/Views/Shared/HomePage.cshtml";
}


<div class="inner-banner">
    <div class="w3l-breadcrumb">
        <div class="container">
            <h4 class="inner-text-title font-weight-bold text-white mb-sm-3 mb-2">Top Quality Services</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="/" style="text-decoration: none">Home</a></li>
                <li>
                    <span class="fa fa-chevron-right mx-2" aria-hidden="true">
                    </span>
                    <span style="font-weight: 700;color:white">
                        Services
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="w3l-grids-block-5 py-5">
    <div class="container py-md-5 py-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-heading text-center mb-sm-5 mb-4">
                    <h3 class="title-style mb-2">Our Service</h3>
                    <p class="lead">
                        We provide the best services to bring great experiences to our customers
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var s in Model)
            {

                <a href="@Url.Action("detailservice","Services",new {id=s.Id})">
                    <div class="col-lg-4 col-sm-6">
                        <div class="blog-card-single">
                            <div class="grids5-info">
                                <img src="@s.Service_Image" width="420" height="300" alt="" />
                                <div class="blog-info" style="min-height: 225px">
                                    @* <button style="background-color:red;color:white"><a href="blog-single" style="color:white">Book Now</a></button>*@
                                    <h4><a href="@Url.Action("detailservice","Services",new {id=s.Id})">@s.Service_Name (Only @s.Service_Price$ / 1 Person)</a></h4>
                                    <p class="content" style=" margin: 0 0 10px; font-size: 14px; font-weight: 400; color: #666; display: block; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; text-align: center;"> @Html.Raw(@s.Service_Description)</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <ul class="admin-list d-flex align-items-center justify-content-between">
                                    <li>
                                        <a href="#blog">
                                            <span class="fa fa-user-circle"
                                                  aria-hidden="true"></span>
                                            Admin
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("detailservice","Services",new {id=s.Id})">
                                            <i class="fa fa-angle-double-right ml-1" aria-hidden="true"></i>
                                            Read
                                            More
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

@Html.Action("company")

<section class="w3l-call-to-action-6">
    <div class="call-sec-style py-5">
        <div class="container py-md-4 py-3">
            <div class="row align-items-center">
                <div class="col-md-5 col-float-lt">
                    <h3 class="title-big">Contact us now!</h3>
                    <p>For Online queries, please call us today</p>
                </div>
                <div class="col-md-7 float-rt text-md-right align-items-center mt-md-0 mt-4">
                    <ul class="buttons">
                        <li class="phone-sec">
                            <span class="fa fa-volume-control-phone mr-1"
                                  aria-hidden="true"></span>
                            <a class="call-style-w3" href="tel:+84904926015">+84904926015</a>
                        </li>
                        <li class="green">Or</li>
                        <li>
                            <a href="@Url.Action("Index","Contact")" class="btn btn-style-white btn-style-primary" style="background:red;color:white">Get in touch</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>