@using _ExcellOn_.Models
@using _ExcellOn_.Areas.Admin.Model
@using _ExcellOn_.Models.ViewModel
@{
    Entities db = new Entities();
    List<List_Staff_Free_Of_Service> List_list_Staff_Free_Of_Services = ViewBag.list_Staff_Free_Of_Services;
    List<List_Staff_Free_Of_Service> reference_list_Staff_Free_Of_Services = ViewBag.reference_list_Staff_Free_Of_Services;
    List<int> List_Service_Id = ViewBag.List_Service_Id;
    List<OrderDetail> list_ord = (List<OrderDetail>)Session["OrderDetail"];
    Customer cus = (Customer)Session["CustomerName"];
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link rel="stylesheet" href="~/Content/Son/assets/css/searchresult.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Areas/Admin/Public/css/loader.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .dropdown-item span {
            cursor: pointer;
        }

            .dropdown-item span a {
                text-decoration: none;
            }

        .dropdown-item:hover {
            background-color: aquamarine;
        }

        .current_user:hover {
            background-color: transparent !important;
        }

        .dropdown-toggle:hover {
            background-color: transparent !important;
            border: none;
        }
    </style>
</head>
<body>

    <div class="container-fluid" style="margin-top: 30px;padding-left:100px;padding-right:100px; font-size: 1.5rem!important">
        <div class="row" style="border-bottom: 1px solid blue;margin-bottom: 30px;padding-bottom: 10px">
            <ul class="nav nav-tabs" style="float:right;border: none">
                <li role="presentation"><a href="@Url.Action("Index","Home")">Home</a></li>
                <li role="presentation"><a href="@Url.Action("Index","About")">Abouts</a></li>
                <li role="presentation"><a href="@Url.Action("service","Services")">Service</a></li>
                <li role="presentation"><a href="@Url.Action("Index","Contact")">Contact Us</a></li>
                @if (cus != null)
                {
                    <li role="presentation" class="dropdown current_user">
                        <a style="max-height:42px" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <div style="margin-top:-15px">
                                <img src="@cus.Customer_Avatar" style="width: 50px;height:50px;border-radius: 50%" />
                                @cus.Customer_Name <span class="caret"></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" style="padding: 10px">
                                <span style="margin-right: 20px;margin-left:10px">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                <span>
                                    <a href="@Url.Action("MyProfileCustomer","Customer2")">My profile</a>
                                </span>

                            </li>
                            <li class="dropdown-item" style="padding: 10px;border-bottom: 1px solid">
                                <span style="margin-right: 20px;margin-left:10px">
                                    <i class="glyphicon glyphicon-gift"></i>
                                </span>
                                <span>
                                    <a href="@Url.Action("OrderListIndex","Customer2")">My Order</a>
                                </span>

                            </li>
                            <li class="dropdown-item" style="padding: 10px">
                                <span style="margin-right: 20px;margin-left:10px">
                                    <i class="glyphicon glyphicon-log-in"></i>
                                </span>
                                <span>
                                    <a href="@Url.Action("Logout","Customer")">Logout</a>
                                </span>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li role="presentation"><a data-toggle="modal" data-target="#myModal2" class="btn">Login</a></li>
                }
                <li role="presentation" id="cart">
                    <a href="/Customer2/OrderIndex" target="_blank">

                        @if (list_ord != null)
                        {
                            <i style="font-size:20px" class="fa fa-shopping-bag" aria-hidden="true">
                                <span id="order_count" style="position: relative;top:-15px;left:-4px;background-color:#777;padding:7px;color:white;border-radius:70%;font-weight: 600;font-size: 1.3rem" class="badge badge-light">@list_ord.Count</span>
                            </i>

                        }
                        else
                        {
                            <i style="font-size:20px" class="fa fa-shopping-bag" aria-hidden="true">
                                <span id="order_count" style="position: relative;top:-15px;left:-4px;background-color:#777;padding:7px;border-radius: 70%;color:white;font-weight: 600;font-size: 1.3rem" class="badge badge-light">0</span>
                            </i>
                        }
                    </a>

            </ul>
        </div>

        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="width: 60%;">
                <div class="modal-content" style="border-radius: 10px">
                    <div class="modal-header bg-primary">
                        <h3 class="modal-title" style="color: white;font-weight:bold" id="myModalLabel">SUBMIT YOUR ORDER</h3>
                    </div>
                    <div class="form">
                        <div class="row">
                            <div class="modal-body" style="padding: 50px">
                                <div class="row">
                                    <div class="col-md-12" style="display:none">
                                        <label>Service_Id</label>
                                        <input type="number" readonly value="" id="Service_Id" class="form-control">
                                    </div>

                                    <div class="col-md-6">
                                        <label>Service</label>
                                        <input type="text" required readonly id="Service_Name" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Number of Employee</label>
                                        <input type="number" required id="Number_Of_Employee" class="form-control">
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px">
                                    <div class="col-md-6">
                                        <label>Date Start</label>
                                        <input type="date" required id="Date_Start" value="@Request["Date_Start"]" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Date End</label>
                                        <input type="date" required id="Date_End" value="@Request["Date_End"]" class="form-control">
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 30px">
                                    <div class="col-md-12 block_loader" style="display: none">
                                        <div style="float:right;width: 55%">
                                            <div class="loader"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="button" style="float:right;margin-left: 10px" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <button type="button" style="float:right" class="btn btn-primary" onclick="return _Submit();">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Login Modal</h4>
                    </div>
                    <div class="form">
                        <div class="row">
                            <div class="modal-body" style="padding: 50px">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Name</label>
                                        <input id="UserName" type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Password</label>
                                        <input id="Password" type="password" class="form-control">
                                    </div>
                                    <div class="col-xs-6" style="margin-top: 20px;margin-left: 40px;display:none">
                                        <div class="loader" style="float:right"></div>
                                    </div>
                                    <div class="col-xs-12" style="margin-top:20px">
                                        <button type="button" style="float:right" class="btn btn-primary" onclick="return _Login();">Login</button>
                                        <button type="button" style="float:right;margin-right:10px" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hgroup class="mb20">
                    <h1>Search Results</h1>
                    <h2 class="lead">
                        <strong class="text-excell-color"></strong> results were found for the <strong class="text-excell-color">Searching</strong> service
                    </h2>
                </hgroup>
            </div>
            <div class="col-md-12">
                <form method="post" action="/Searches/Search" style="padding: 20px">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Date Start</label>
                            <input class="form-control" name="Date_Start" value="@Request["Date_Start"]" type="date" placeholder="Date-Start" />
                        </div>
                        <div class="col-md-3">
                            <label>Date End</label>
                            <input class="form-control" name="Date_End" value="@Request["Date_End"]" type="date" placeholder="Date-End" />
                        </div>
                        <div class="col-md-4">
                            <label>Service</label>
                            <select name="List_Service_Id[]" multiple class="form-control select">
                                @if (List_Service_Id != null)
                                {
                                    <option value="1" @(List_Service_Id.Contains(1) ? "selected" : "")>In Bound</option>
                                    <option value="2" @(List_Service_Id.Contains(2) ? "selected" : "")>Out Bound</option>
                                    <option value="3" @(List_Service_Id.Contains(3) ? "selected" : "")>Tele Marketing</option>
                                }
                                else
                                {
                                    <option value="1">In Bound</option>
                                    <option value="2">Out Bound</option>
                                    <option value="3">Tele Marketing</option>
                                }

                            </select>
                        </div>
                        <div class="col-md-2" style="padding-right:0px">
                            <button class="btn btn-primary" type="submit" style="margin-top: 24px;width:100%"> <i class="glyphicon glyphicon-search" style="margin-right: 10px"></i>Search </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        @if (List_list_Staff_Free_Of_Services != null)
        {
            foreach (var list_Staff_Free_Of_Services in List_list_Staff_Free_Of_Services)
            {
                int Service_Id = list_Staff_Free_Of_Services.service.Id;
                DateTime date_start = (DateTime)list_Staff_Free_Of_Services.Date_Start;
                DateTime date_end = (DateTime)list_Staff_Free_Of_Services.Date_End;
                string _date_start = date_start.ToString("MM/dd/yyyy");
                string _date_end = date_end.ToString("MM/dd/yyyy");
                float sale_price = (float)(list_Staff_Free_Of_Services.service.Service_Price - list_Staff_Free_Of_Services.service.Service_PriceSale);
                float sale_of = ((float)sale_price / (float)list_Staff_Free_Of_Services.service.Service_Price) * 100;
                string _sale_of = string.Format("{0:0.00}", sale_of);

                <section class="col-xs-12 col-sm-6 col-md-12" style="font-size: 1.8rem!important">
                    <article class="search-result row">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <a href="#" title="In-bound" class="thumbnail">
                                <img src="@list_Staff_Free_Of_Services.service.Service_Image"
                                     alt="Lorem ipsum" />
                            </a>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <ul class="meta-search">
                                <li><i class="glyphicon glyphicon-calendar"></i> <span> Date-Start: @_date_start</span></li>
                                <li><i class="glyphicon glyphicon-tag"></i> <span>Tax: Included</span></li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <ul class="meta-search">
                                <li><i class="glyphicon glyphicon-calendar"></i> <span> Date-End: @_date_end</span></li>
                                <li><i class="glyphicon glyphicon-usd"></i> <span>Money Back Guarantee</span></li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <ul class="meta-search">
                                <li><i class="glyphicon glyphicon-user"></i> <span> Number of staffs: @list_Staff_Free_Of_Services.list_staff_free_count</span></li>
                                <li><i class="glyphicon glyphicon-gift"></i> <span>Price offer: $@list_Staff_Free_Of_Services.service.Service_Price</span></li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <ul class="meta-search">
                                <li><i class="glyphicon glyphicon-collapse-up"></i> <span> Name: @list_Staff_Free_Of_Services.service.Service_Name</span></li>
                                <li><i class="glyphicon glyphicon-saved"></i> <span> Sale of: @_sale_of %</span></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-1">
                            <ul class="meta-search">
                                <li>
                                    @if (cus != null)
                                    {
                                        <button data-toggle="modal" data-target="#myModal1" class="btn btn-info" onclick="return _Book(@list_Staff_Free_Of_Services.service.Id)">
                                            <i class="glyphicon glyphicon-book" style="color:white!important"></i>
                                            Book
                                        </button>
                                    }
                                    else
                                    {
                                        <button data-toggle="modal" data-target="#myModal2" class="btn btn-info">
                                            <i class="glyphicon glyphicon-log-in" style="color:white!important"></i>
                                            Login
                                        </button>
                                    }

                                </li>
                            </ul>
                        </div>
                        <span class="clearfix borda"></span>
                    </article>
                </section>
            }

        }

        <div class="col-md-12" style="margin-top:30px">
            <hgroup class="mb20">
                <h1>Reference Search Results</h1>
                <h2 class="lead">
                    <strong class="text-excell-color"></strong> reference results were found for the <strong class="text-excell-color">searching</strong> service
                </h2>
            </hgroup>
        </div>

        @if (reference_list_Staff_Free_Of_Services != null)
        {
            foreach (var list_Staff_Free_Of_Services in reference_list_Staff_Free_Of_Services)
            {
                DateTime date_start = (DateTime)list_Staff_Free_Of_Services.Date_Start;
                DateTime date_end = (DateTime)list_Staff_Free_Of_Services.Date_End;
                string _date_start = date_start.ToString("MM/dd/yyyy");
                string _date_end = date_end.ToString("MM/dd/yyyy");
                float sale_price = (float)(list_Staff_Free_Of_Services.service.Service_Price - list_Staff_Free_Of_Services.service.Service_PriceSale);
                float sale_of = ((float)sale_price / (float)list_Staff_Free_Of_Services.service.Service_Price) * 100;
                string _sale_of = string.Format("{0:0.00}", sale_of);

                <section class="col-xs-12 col-sm-6 col-md-12" style="font-size: 1.8rem!important">
                    <article class="search-result row">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <a href="#" title="In-bound" class="thumbnail">
                                <img src="@list_Staff_Free_Of_Services.service.Service_Image"
                                     alt="Lorem ipsum" />
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <ul class="meta-search">
                                <li><i class="glyphicon glyphicon-calendar"></i> <span> Date-Start: @_date_start</span></li>
                                <li><i class="glyphicon glyphicon-tag"></i> <span>Tax: Included</span></li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <ul class="meta-search">
                                <li><i class="glyphicon glyphicon-calendar"></i> <span> Date-End: @_date_end</span></li>
                                <li><i class="glyphicon glyphicon-usd"></i> <span>Money Back Guarantee</span></li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <ul class="meta-search">
                                <li><i class="glyphicon glyphicon-user"></i> <span> Number of staffs: @list_Staff_Free_Of_Services.list_staff_free_count</span></li>
                                <li><i class="glyphicon glyphicon-gift"></i> <span>Price offer: $@list_Staff_Free_Of_Services.service.Service_Price</span></li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <ul class="meta-search">
                                <li><i class="glyphicon glyphicon-collapse-up"></i> <span> Name: @list_Staff_Free_Of_Services.service.Service_Name</span></li>
                                <li><i class="glyphicon glyphicon-saved"></i> <span> Sale of: @_sale_of %</span></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-1">
                            <ul class="meta-search">
                                <li>
                                    @if (cus != null)
                                    {
                                        <button data-toggle="modal" data-target="#myModal1" class="btn btn-info" onclick="return _Book(@list_Staff_Free_Of_Services.service.Id)">
                                            <i class="glyphicon glyphicon-book" style="color:white!important"></i>
                                            Book
                                        </button>
                                    }
                                    else
                                    {
                                        <button data-toggle="modal" data-target="#myModal2" class="btn btn-info">
                                            <i class="glyphicon glyphicon-log-in" style="color:white!important"></i>
                                            Login
                                        </button>
                                    }
                                </li>
                            </ul>
                        </div>
                        <span class="clearfix borda"></span>
                    </article>
                </section>
            }
        }


    </div>
    <div class="container-fluid" style="background-color: antiquewhite;margin-top: 60px">
        <p class="container" style="font-weight: 600; font-size: 1.5rem">
            © 2021  Exell On. All rights reserved. Design by Exell On
        </p>

    </div>

    <script type="text/javascript">

        function _Book(Service_Id) {
            $('#Service_Id').val(Service_Id);
            if ($('#Service_Id').val() == 1) {
                $('#Service_Name').val("In-Bound");
            }
            if ($('#Service_Id').val() == 2) {
                $('#Service_Name').val("Out-Bound");
            }
            if ($('#Service_Id').val() == 3) {
                $('#Service_Name').val("Tele-Marketing");
            }
        }

        function _Submit() {
            var data = {
                Service_Id: $("#Service_Id").val(),
                Number_Of_Employee: $("#Number_Of_Employee").val(),
                Date_Start: $("#Date_Start").val(),
                Date_End: $("#Date_End").val(),
                Description: $("#Description").val()
            }
            var Number_Of_Employee = parseInt($("#Number_Of_Employee").val());
            if (Number_Of_Employee > 0) {
                $.ajax({
                    url: "/Customer2/CreateOrder",
                    contentType: "application/json;charset=utf-8",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: function (result) {
                        if (result == "The Employee is greater than our Staff") {
                            alert(result);
                        } else {
                            var count = parseInt($('#order_count').text());
                            count += 1;
                            $('#order_count').text(count);
                            $('#myModal1').modal('hide');
                            alert("Successful");
                        }
                    },
                    error: function () {

                    }
                });
            } else {
                alert("Some infomation can't be null ");
            }

        }

        function _Login() {
            var request = {
                UserName: $('#UserName').val(),
                Password: $('#Password').val()
            }
            $.ajax({
                url: "/Customer/LoginAjax",
                contentType: "application/json;charset=utf-8",
                type: "POST",
                data: JSON.stringify(request),
                dataType: "json",
                success: function (result) {
                    if (result == "Successfull") {
                        history.go(0);
                    } else {
                        alert("Account or Password is not correct !");
                    }
                },
                error: function (e) {
                    alert(e);
                }

            });
        }
        $('select').select2({
            tokenSeparators: [',', ' ']
        });
    </script>
</body>
</html>
